install /github/workspace/installer/etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-fedora-39 etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-fedora-39
install /github/workspace/installer/etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-fedora-40 etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-fedora-40
install /github/workspace/installer/etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-fedora-38 etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-fedora-38
install /github/workspace/installer/etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-fedora-42 etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-fedora-42
install /github/workspace/installer/etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-2022 etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-2022
install /github/workspace/installer/etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-fedora-41 etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-fedora-41
install /github/workspace/installer/etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-2013 etc/pki/rpm-gpg/RPM-GPG-KEY-openzfs-2013

